@keyframes loading-spinner {
  0% {
    border-color: $loading-border-color-1;
    border-top-color: $loading-border-color-2;
  }
  25% {
    border-color: $loading-border-color-1;
    border-right-color: $loading-border-color-2;
  }
  50% {
    border-color: $loading-border-color-1;
    border-bottom-color: $loading-border-color-2;
  }
  75% {
    border-color: $loading-border-color-1;
    border-left-color: $loading-border-color-2;
  }
  100% {
    border-color: $loading-border-color-1;
    border-top-color: $loading-border-color-2;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes slideUp {
  0% { transform: scale(0); }
  80% { transform: scale(1.3); }
  100% { transform: scale(1); }
}
