.mt25 { margin-top : 25px; }
.mb25 { margin-bottom: 25px; }
.mt50 { margin-top: 50px; }
.mb50 { margin-bottom: 50px; }
.mb75 { margin-bottom: 75px; }
.mb0 { margin-bottom: 0; }
.mt0 { margin-top: 0; }
.m0 { margin: 0; }
.pb0 { padding-bottom: 0; }

.mt0 { margin-top: 0; }
.mt1 { margin-top: $font-size-h1; }
.mt2 { margin-top: $font-size-h2; }
.u-mt2 { margin-top: 2rem;}

.u-pb2 { padding-bottom: 2rem; }
.u-mb2 { margin-bottom: 2rem; }
.u-mb6 { margin-bottom: 6rem; }

.p-relative { position: relative; }
.u-absolute { position: absolute; }
.u-text-center {
  text-align: center;
}

.u-square {
  margin-bottom: 15px;
  margin-top: 15px;
}

.u-left-align {
  margin-left: 0;
}

.u-body-copy {
  max-width: 700px;
  line-height: 1.75;
  margin: 0 auto;
}

.u-center {
  margin: 0 auto;
}

.u-top-section {
  padding-top: 100px;
}

.u-main-section {
  padding: 180px 0;
}

.u-secondary-section {
  padding: 90px 0;
}

.u-main-section {
  padding: 180px 0;
}

.u-full-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.u-big-container {
  max-width: 968px;
  margin: 0 auto;
}
