extends layouts/default

block content
  section.row.u-pb2.u-top-section
    .col-sm-12.u-text-center
      h2.s-bold.s-italic.s-light-grey.s-name
        span
          | Jonathan
        span.s-blair
          | Blair
      h4
        | Visual / UX / Code
  section.row.u-main-section
    .col-sm-12
      .s-featured.s-offset-1
        .accent.s-offset-1
        .iphone
          img.img-responsive(src="/images/mamava_iphone.png")
        .title
          h2 Mamava x Seventh Generation
          h4 Nomination Map
        .btn.btn-primary.view.s-offset-1
          | View
  section.row.u-main-section
    .col-sm-12
      .s-featured.s-offset-1
        .accent-diamond.s-offset-1
        .macbook
          img.img-responsive(src="/images/bb_macbook.png")
        .title
          h2 BuildBeam
          h4 Landing Page
        .btn.btn-primary.view.s-offset-1
          | View
    
