extends views/layouts/default

block content
  .bg-icons
  section.row.u-pb2.u-top-section
    .col-sm-12.u-text-center
      h2.s-bold.s-italic.s-light-grey.s-header
        span
          | Jonathan
        span.s-header-line2
          | Blair
      h4
        | Product Designer / Developer
  section.row.u-main-section
    .col-sm-12
      .s-featured.s-offset-1.s-center-bg(style="background-image: url(/images/gh_cover_sm.jpg);")
        .accent
        .title
          h2 Grovehub
          h4 Brand Education
        a.btn.btn-primary.view(
          href="/grovehub.html"
        )
          | View
  section.row.u-main-section
    .col-sm-12
      .s-featured.s-offset-1
        .accent
        .iphone
          img.img-responsive(src="/images/mamava_iphone.png")
        .title
          h2 Mamava x Seventh Generation
          h4 Nomination Map
        a.btn.btn-primary.view(
          href="/mamava.html"
        )
          | View
  section.row.u-main-section
    .col-sm-12
      .s-featured.s-offset-1
        .accent-diamond
        .macbook
          img.img-responsive(src="/images/bb_macbook.png")
        .title
          h2 BuildBeam
          h4 Landing Page
        a.btn.btn-primary.view(href="http://buildbeam.com")
          | View
  section.row.u-main-section
    .mb50.u-text-center
      h2.s-bold.s-italic.s-light-grey
        | Other Stuff
    .col-sm-12.col-md-6.col-lg-4
      .u-square.s-hover-zoom.s-offset-1
        .content
          img.img-responsive(src='/images/13217183_10206287368242423_911041974121635016_o.jpg')
    .col-sm-12.col-md-6.col-lg-4
      a.u-square.s-hover-zoom.s-offset-1
        .content
          img.img-responsive(src="/images/13129677_112255565853759_621794985_n.jpg")
    .col-sm-12.col-md-6.col-lg-4
      a.u-square.s-hover-zoom.s-offset-1
        .content
          img.img-responsive(src="/images/13147525_10206278069049949_4871172644131999853_o.jpg")
