extends layouts/default

block content
  section.row.u-pb2.u-top-section
    .col-sm-12.u-text-center
      h2.s-bold.s-italic.s-light-grey.s-text-shadow
        span
          | Barista Check
      h4
        | Branding / UX / Visual
      a(href="/attachments/grovehub_branding_book.pdf") View Live
  section.row.u-secondary-section
    .col-sm-12
      img.u-center.img-responsive(src="/images/bc_cover.png")
  hr
  section.row.u-secondary-section
    .col-sm-12
      .u-body-copy
