extends layouts/default

block content
  section.row.u-pb2.u-top-section
    .col-sm-12.u-text-center
      h2.s-bold.s-italic.s-light-grey
        | From Nothing, Create Something Great.
  section.row.u-secondary-section
    .col-sm-12
      h4 Meet me.
