extends layouts/default

block content
  section.row.u-pb2.u-top-section
    .col-sm-12.u-text-center
      h2.s-bold.s-italic.s-light-grey.s-text-shadow
        span
          | Green Mountain Power
      h4
        | Code / UX / Visual
  section.row.u-secondary-section
    .col-sm-12
      img.u-center.img-responsive(src="/images/gh_cover.png")
  hr
  section.row.u-secondary-section
    .col-sm-12
      .u-body-copy
        p Green Mountain Power provides electricity to the majority of the state of Vermont. Their grid controlers had been using a system of spreadsheets and printouts to track changes in the state-wide grid. GMP reached out to us to create a web-based system to streamline their process.
      .s-featured-img
        img.u-center.img-responsive(src="/images/gh_current_admin.png")
        h5 Grovehub Admin and User Facing Areas. Initially they where combined.
      .u-body-copy
        h3.mt1.u-text-center
          strong
            | Discovery
        p We began the project by taking a trip to Green Mountain Power's headquarters in Rutland, VT.
        h3.mt1.u-text-center
          strong
            | Recommendations
        p After testing and talking to users, we made recommondations. Rather than maintain the in-page editing that has caused confusion among users, we decided to create a separate area of the site where admins could create and manage their branded sites. Once changes have been made within the dashboard, admins will then be able to view their website as either logged in seminar viewers, presenters, or logged out users. This will allow users to better contextualize what area of the interface they are currently engaged with, and alleviate confusion caused by the current editing system.
        p We also recommended the creation of meaningful empty states for dashboard areas which do not yet have content. This was to reinforce desired actions, as well as inform users of the fact that something will occupy the space after said action is performed.
        p As for the branding, we recommended replacing the current Grovehub branding with a new logo, color pallet, and typeface. The new brand language would create a product where the branding falls away and allows the user to easily customize it to suit their brand.
        h3.mt1.u-text-center
          strong
            | User Flows
      .s-featured-img
        img.u-center.img-responsive(src="/images/gh-admin-flow.png")
        h4 Admin Area Flow
      .s-featured-img.mt1
        img.u-center.img-responsive(src="/images/gh-user-flow.png")
        h4 User Area Flow
      .u-body-copy
        h3.mt1.u-text-center
          strong
            | Branding
      .s-featured-img
        img.u-center.img-responsive(src="/images/gh-colors.png")
      .s-featured-img.mt1
        img.u-center.img-responsive(src="/images/gh-typography.png")
      .s-featured-img.mt1
        img.u-center.img-responsive(src="/images/gh_copy_01.png")
