extends layouts/default

block content
  section.row.u-pb2.u-top-section
    .col-sm-12.u-text-center
      h2.s-bold.s-italic.s-light-grey.s-name.s-text-shadow
        span
          | Mamava
          span.s-cross
            | X
        span.s-blair
          | Seventh Generation
      h4
        | Conception / UX / Code
  section.row.u-main-section
    .col-sm-12
      .s-accent
      img.u-center.img-responsive(src="/images/mamava_iphone.png")
  section.row
    .col-sm-12.col-lg-8.col-lg-offset-2
      hr
      p Mamava creates clean, beautiful pods for nursing mothers on the go. They needed a tool for their sales team to showcase their current pods. I pitched them to idea to not only showcase their current locations, but give moms the power to nominate their favorite places for future mamavas. With this tool, the Mavama sales team is now able to show potential customers the existing demand from people in the community.
      p The idea was to create a platform where moms could spark a campaign to get Mavama pods in their local community.
